<!-- navabr -->
<div class="sidebar">

    <ul class="sidebar-ul">
        <li><a class="nav-a" href="/">Home</a></li>
        <li><a class="nav-a" href="">Youtube</a></li>
        <li><a class="nav-a" href="/blogs">Blogs</a></li>
        <li><a class="nav-a" href="">Contact Me</a></li>

    </ul>
</div>
<div class="burger " id="hamburger">
    <div class=" top shadow-sm"></div>
    <div class="mid shadow-sm "></div>
    <div class="bot shadow-sm "></div>
</div>
<nav class="m-nav shadow">

    <div class="left-nav ">
        <ul class="left-nav-ul ">
            <li><i class="fab fa-confluence logo"></i></li>

        </ul>
    </div>
    <div class="right-nav ">
        <ul class="right-nav-ul ">
            <li><a class="nav-a" href="/">Home</a></li>
            <li><a class="nav-a" href="">Youtube</a></li>
            <li><a class="nav-a" href="/blog">Blogs</a></li>
            <li><a class="nav-a" href="">Contact Me</a></li>
        </ul>
    </div>

</nav>



<!-- Header End -->