<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="../scss/content/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <!-- Content-->
    <div class="covid-btn-fixed ">
        <img src="../img/logos/iconfinder_doctor-advise-warning-suggestion-avatar_5729672.png" alt="">
        <h5>Covid 19</h5>
    </div>
    <div class="covid-box">
        <div class="cross-btn"><img src="../img/logos/icons8_close_window_50px.png" alt=""></div>
        <div class="covid-btn ">
            <img src="../img/logos/iconfinder_doctor-advise-warning-suggestion-avatar_5729672.png" alt="">
        </div>
        <h5>Covid-19</h5>
        <div class="covid-details">

            <p id="info">Country : ${country} <br> Confirmed Case : ${conf} <br> Recover : ${recover}<br> Deaths :
                ${deaths}<br> Active : ${active}</p>
        </div>
    </div>
    <div class="blogs">
        <div class="row">
            <div class="col ">
                <div class="container">
                    <h3>Karnataka Bengaluru Live Updates: State reports highest single-day spike with 14,738 fresh
                        cases, 66 deaths</h3>
                </div>
                <img src="../img/blog/jeshoots-com-LAwsF-VnFzc-unsplash.jpg" alt="">
                <div class="container">

                    <p>Karnataka Bengaluru Coronavirus News Live Updates: Karnataka reported its sharpest single day
                        spike of 14,738 fresh coronavirus cases and 66 related fatalities, taking the total number of
                        infections to 11.09 lakh and the toll to 13,112,
                        the Health department said on Thursday. The state had previously reported its biggest single day
                        spike of 11,265 cases on Wednesday. Out of the 14,738 fresh cases reported on Thursday, 10,497
                        cases were from Bengaluru Urban alone.
                        The day also saw 3,591 patients getting discharged after recovery.</p>
                </div>
            </div>
            <div class="col">

                <div class="container">
                    <h3>Google Pledges to Provide 250,000 COVID-19 Vaccine Doses to ‘Countries in Need’ </h3>
                </div>
                <img src="../img/blog/google_vodafone_idea_reuters_1590666052222.jpg" alt="">
                <div class="container">
                    <p>"As we've learned throughout the pandemic, no one is safe from COVID-19 until everyone is safe,"
                        Google said. "Getting vaccines to everyone around the world is a challenging, but necessary,
                        undertaking." Google is among an array of
                        tech companies including Amazon and Uber that have stepped up with resources or efforts to help
                        get people vaccinated against COVID-19. Along with providing a total of 250,000 COVID-19 vaccine
                        doses to "countries in need," Google
                        is funding pop-up sites for the jab in the US and committing an additional $250 million (roughly
                        Rs. 1,870 crores) in ad credit to spreading vaccine information. "There's a lot of work ahead to
                        make sure everyone who wants to get
                        vaccinated can," Google said in a blog post. "Globally, it could be years before some countries
                        even have enough vaccines."</p>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <h3>Bitcoin Price Drops After Turkey Bans Cryptocurrency Payments Citing Risks </h3>
                </div>
                <img src="../img/blog/bitcoin_colours_reuters_1611921415626.jpg" alt="">
                <div class="container">
                    <p>Turkey's central bank banned the use of cryptocurrencies and crypto assets to purchase goods and
                        services, citing possible "irreparable" damage and significant transaction risks in a move that
                        cooled global bitcoin prices. In legislation
                        published in the Official Gazette on Friday, the central bank said cryptocurrencies and other
                        such digital assets based on distributed ledger technology could not be used, directly or
                        indirectly, as an instrument of payment. Turkey's
                        growing crypto market has gained momentum in recent months as investors joined a global rally in
                        bitcoin, seeking to hedge against TRY depreciation and inflation, which topped 16% last month.
                        Bitcoin was off nearly 3 percent at
                        $61,490 (roughly Rs. 46 lakhs) versus the dollar at 0754 GMT after the Turkish ban, which was
                        criticised by the main opposition party. In a statement, the central bank said crypto assets
                        were "neither subject to any regulation
                        and supervision mechanisms nor a central regulatory authority," among other security risks.
                        "Payment service providers will not be able to develop business models in a way that crypto
                        assets are used directly or indirectly in the
                        provision of payment services and electronic money issuance," and will not provide any services,
                        it said. "Their use in payments may cause non-recoverable losses for the parties to the
                        transactions ... and include elements that
                        may undermine the confidence in methods and instruments used currently in payments," the central
                        bank added. This week Royal Motors, which distributes Rolls-Royce and Lotus cars in Turkey,
                        became the first in the country to say
                        it would accept payments in cryptocurrencies. Globally, giants such as Apple, Amazon, and
                        Expedia also accept such payments. 'Bullying' Main opposition leader Kemal Kilicdaroglu slammed
                        the decision as another case of "midnight
                        bullying", referring to President Tayyip Erdogan's decision last month — announced in a midnight
                        decree — to fire the central bank governor. "It's like they have to commit foolishness at
                        night," he said on Twitter. Turkish annual
                        inflation is at a six-month high of 16.19 percent, well above a 5 percent target, and
                        unemployment remains high, at 13.4 percent. Crypto trading volumes in Turkey hit TRY 218 billion
                        (roughly $27 billion; Rs. 2 lakh crores) from
                        early February to 24 March, up from just over 7 TRY billion (roughly $868 million; Rs. 6,453
                        crores) in the same period a year earlier, according to data from U.S. researcher Chainalysis
                        analysed by Reuters. Cryptocurrency worth
                        TRY 23 billion (roughly $2.85 billion; Rs. 21,200 crores) was traded in the first few days after
                        Erdogan shocked markets by ousting the central bank chief last month, the data showed, versus
                        TRY 1 billion (roughly $124 million;
                        Rs. 922 crores) in the whole of March 2020. Last week, Turkish authorities demanded user
                        information from crypto trading platforms. "Any authority which starts regulating (the market)
                        with a ban will end up frustrated (since this)
                        encourages fintech startups to move abroad," said economist Ugur Gurses on Twitter. The
                        legislation goes into effect on April 30.</p>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <h3>TOP 10 DATA SCIENCE TRENDS FOR THIS DECADE </h3>
                </div>
                <img src="../img/blog/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
                <div class="container">
                    <p>The presence of data in every field that you can think of is what turns out to be a reason why
                        organizations are showing interest in data science. Also, the fact that data will continue to be
                        an integral part of our lives till eternity
                        serves to be yet another driver of data science. That said, it’s really important to stay
                        updated with the hottest data science trends that could serve to be a blessing to grow your
                        business. Here are the top 10 data science trends
                        for this decade. Predictive analysis For a business to prosper, it is critical to know what the
                        future might look like. This is exactly where predictive analysis comes into play. Organizations
                        rely on their customers to a large
                        extent. Hence, being able to understand their behaviors helps in making better decisions ahead.
                        This technique is one of the smartest to come up with the best strategies to target the
                        customers that’d aid in retaining the older
                        ones and also get newer customers. Machine learning Over the years, we have seen how much
                        automation has transformed the world. This is why machine learning has gained importance like
                        never before. The coming years will see more
                        automation and hence the rise in the number of organizations adopting machine learning will
                        surpass one’s imagination for sure. IoT Gone are the days when IoT was considered to be
                        something that would have limited applications.
                        Today, we are living in a world where our smartphones have the ability to control appliances
                        like TV, AC, etc. All of this is possible because of IoT. Google Assistant is yet another
                        remarkable innovation in the area of IoT. Thus,
                        companies looking for ways to invest in this technology come as no big surprise. This simply
                        throws light on how rapidly the IoT industry would grow in the days ahead. Blockchain Needless
                        to say, cryptocurrencies like Bitcoin,
                        Litecoin, etc. have become the talk of the world. All of these currencies employ blockchain
                        technology. With the world showing keen interest in this field, it surely stands a far-reaching
                        implementation in the coming time Edge
                        computing Edge computing is known for faster processing of information and it also boasts of
                        reducing latency, cost and traffic. It is solely because of these features that the
                        organizations are not willing to sideline this option.
                        With this computing in place, dealing with real-time applications couldn’t have got any better.
                        The coming years could see more of a considerable shift from traditional methods to that of edge
                        computing. DataOps Lets’ face the
                        reality – the data pipeline has become more complex and thus requires even more integration and
                        governance tools. DataOps to our rescue it is! Tasks right from collection to preparation to
                        analysis, testing automation, implementing
                        automated testing, delivery for providing enhanced data quality and analysis are all covered.
                        This trend will continue for the years to come. Artificial Intelligence Be it a small enterprise
                        or a tech giant, all of them have relied
                        on AI in one way or the other. All those complex tasks are no longer a concern for we now can
                        rely on AI for the same. Also, the reduction in errors is yet another strong reason to why AI
                        stands apart. Now that we’ve relied on
                        AI so much, there’s no coming back! Data visualization This is one of those prominent trends
                        that we can trust with. This is because the organizations are moving their conventional data
                        warehouses to the cloud. Better user experience
                        The extent to which user experience is given importance to talks volume about the success of the
                        company. This is why companies are leaving no stone unturned in providing the best possible user
                        experience – be it in the form of
                        chatbots, personal assistance, or AI-driven tools for that matter. Data governance This is yet
                        another area that’s gaining a lot of importance. Numerous companies out there are still
                        struggling to comply with the rules and regulations.
                        It is critical to not just comply with these but also to understand the impact of the same on
                        the present and future operations. Data scientists who have sound knowledge about all of this is
                        the need of the hour. These trends show
                        a clearer picture of what data science strategies need to be implemented to retain your
                        customers and also take your business to new heights.</p>
                </div>
            </div>

        </div>

    </div>
    <!-- content end -->
    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <script src="../script/responsive.js "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../script/covid.js"></script>
</body>

</html>