<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="../scss/content/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <!-- Content-->
    <div class="covid-btn-fixed ">
        <img src="../img/logos/iconfinder_doctor-advise-warning-suggestion-avatar_5729672.png" alt="">
        <h5>Covid 19</h5>
    </div>
    <div class="covid-box">
        <div class="cross-btn"><img src="../img/logos/icons8_close_window_50px.png" alt=""></div>
        <div class="covid-btn ">
            <img src="../img/logos/iconfinder_doctor-advise-warning-suggestion-avatar_5729672.png" alt="">
        </div>
        <h5>Covid-19</h5>
        <div class="covid-details">

            <p id="info">Country : ${country} <br> Confirmed Case : ${conf} <br> Recover : ${recover}<br> Deaths :
                ${deaths}<br> Active : ${active}</p>
        </div>
    </div>
    <div class="blogs">
        <div class="row">
            <div class="col ">
                <div class="container">
                    <h3>Karnataka Bengaluru Live Updates: State reports highest single-day spike with 14,738 fresh
                        cases, 66 deaths</h3>
                </div>
                <img src="../img/blog/jeshoots-com-LAwsF-VnFzc-unsplash.jpg" alt="">
                <div class="container">

                    <p>Karnataka Bengaluru Coronavirus News Live Updates: Karnataka reported its sharpest single day
                        spike of 14,738 fresh coronavirus cases and 66 related fatalities, taking the total number of
                        infections to 11.09 lakh and the toll to 13,112,
                        the Health department said on Thursday. The state had previously reported its biggest single day
                        spike of 11,265 cases on Wednesday. <a href="https://indianexpress.com/article/cities/bangalore/karnataka-bengaluru-coronavirus-covid-19-lockdown-6-0-yediyurappa-covaxin-covishield-second-wave-night-curfew-bypolls-bbmp-live-7275777/">Read more></a></p>
                </div>
            </div>
            <div class="col">

                <div class="container">
                    <h3>Google Pledges to Provide 250,000 COVID-19 Vaccine Doses to ‘Countries in Need’ </h3>
                </div>
                <img src="../img/blog/google_vodafone_idea_reuters_1590666052222.jpg" alt="">
                <div class="container">
                    <p>"As we've learned throughout the pandemic, no one is safe from COVID-19 until everyone is safe,"
                        Google said. "Getting vaccines to everyone around the world is a challenging, but necessary,
                        undertaking." Google is among an array of
                        tech companies including Amazon and Uber that have stepped up with resources or efforts to help
                      <a href="https://gadgets.ndtv.com/internet/news/google-covid-19-vaccine-doses-250000-countries-in-need-india-find-vaccination-centre-2414824">Read More></a></p>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <h3>Bitcoin Price Drops After Turkey Bans Cryptocurrency Payments Citing Risks </h3>
                </div>
                <img src="../img/blog/bitcoin_colours_reuters_1611921415626.jpg" alt="">
                <div class="container">
                    <p>Turkey's central bank banned the use of cryptocurrencies and crypto assets to purchase goods and
                        services, citing possible "irreparable" damage and significant transaction risks in a move that
                        cooled global bitcoin prices. In legislation
                        published in the Official Gazette on Friday, the central bank said cryptocurrencies and other
                        such digital assets based on distributed ledger technology could not be used, directly or
                       <a href="https://www.reuters.com/technology/turkey-bans-use-cryptocurrencies-payments-sends-bitcoin-down-2021-04-16/#:~:text=TechnologyBitcoin%20tumbles%20after%20Turkey%20bans%20crypto%20payments%20citing%20risks&text=Bitcoin%20tumbled%20more%20than%204,irreparable%E2%80%9D%20damage%20and%20transaction%20risks.">Read more></a></p>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <h3>TOP 10 DATA SCIENCE TRENDS FOR THIS DECADE </h3>
                </div>
                <img src="../img/blog/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
                <div class="container">
                    <p>The presence of data in every field that you can think of is what turns out to be a reason why
                        organizations are showing interest in data science. Also, the fact that data will continue to be
                        an integral part of our lives till eternity
                        serves to be yet another driver of data science. That said, it’s really important to stay
                        updated with the hottest data science trends that could serve to be a blessing to grow your
                        business. <a href="https://www.analyticsinsight.net/top-10-data-science-trends-for-this-decade/">Read more> </a></p>
                </div>
            </div>

        </div>

    </div>
    <!-- content end -->
    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <script src="../script/responsive.js "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../script/covid.js"></script>
</body>

</html>