<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="../scss/content/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS only -->

    <title>Document</title>
</head>

<body>
    {{>header}}
    <div class="m-content">
        <div class="row">
            <div class="col">
                <img src="../img/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg" alt="">
                <form class="m-form" action="/contactme" method="POST">
                    <div class="from-item"><label for="Name">Name</label>
                        <input type="name" placeholder="name" name="name">
                    </div>
                    <div class="from-item"><label for="email">Email</label>
                        <input type="email" placeholder="email" name="email">
                    </div>
                    <div class="from-item"><label for="email">Contact number</label>
                        <input type="number" placeholder="number" name="number">
                    </div>
                    <div class="redio-div">
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Other</label>
                    </div>
                    <div class="from-item"><label for="pwd">Comments</label>
                        <textarea type="text" id="cmt" name="comment" placeholder="Comments"></textarea>
                    </div>
                   
                    <div class="from-item">
                        <button type="submit" class="m-btn" value="submit">Submit</button>
                    </div>




                </form>
            </div>




        </div>




    </div>

    {{>footer}}
</body>

</html>